{% extends 'blog/base.html' %}

{% block content %}
<br>
    <form action="{% url 'search' %}" method="get">
        <p><input name="q" type="text" placeholder="Найти...">
        <input type="submit" name="Search" value="Найти"></p>
    </form>

    <form action="{% url 'sort' %}" method="post">
        {% csrf_token %}
        <p>{{ sort_form }}
    <input type="submit" name="sort" value="Сортировать"></p>
    </form>
    <br>



    {% for p in posts %}
    <hr>
    <h1><a href="{% url 'post' post_slug=p.slug %}">{{ p.title }}</a></h1>
    <h2>{{ p.summary }}</h2>
    <h3>{{ p.num_of_views }} просмотров |
        {% if p.rating is None %}
            нет рейтинга
        {% else %}
        рейтинг {{ p.rating }}</h3>
        {% endif %}



    {% endfor %}

{% endblock %}
