{% extends 'blog/base.html' %}

{% block content %}


    <form action="{% url 'sort' %}" method="post">
        {% csrf_token %}
        {{ sort_form }}
    <p><input type="submit" name="sort" value="Сортировать"></p>
    </form>
    <br>

    {% for p in posts %}
    <hr>
    <h1><a href="{% url 'post' post_slug=p.slug %}">{{ p.title }}</a></h1>
    <h2>{{ p.summary }}</h2>
    <h3>{{ p.num_of_views }} просмотров |
        {% if p.rating is None %}
            нет рейтинга
        {% else %}
        рейтинг {{ p.rating }}</h3>
        {% endif %}



    {% endfor %}

{% endblock %}
